* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #17353F;
    --background-color: white;
    --subtle-white-text: #fafafa;
    --subtle-background-color: #edf2f8;
    --heading-color: #006090;
    --selection-color: orangered;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: blue #7d7d7d;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    border-radius: 1000px;
    background-clip: padding-box;
    border: 3px solid transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: blue;
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 100px;
}

body {
    background-color: var(--subtle-background-color);
    margin: 0;
    padding: 0;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

h1, h2, h3, h4, h5 {
    margin: 4px 10px;
}

h1 {
    margin: 0;
    padding: 10px 10px 10px 30px;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--heading-color);
    text-align: left;
    background: white;
}

.loader_global {

}

.Dashboard {
    width: 95%;
    background-color: var(--background-color);
    min-height: 65vh;
    height: 85vh;
    border-radius: 10px;
    /*box-shadow: 0 0 4px 1px #0243DE77;*/
    margin: 15px auto;
    display: flex;
    flex-direction: row;
    color: var(--background-color);
}


/********** SPECIFICALLY - LOGIN PAGE ************/

.login-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
}

.login-page {
    padding: 6px;
    width: -moz-fit-content;
    width: 700px;
    min-height: 400px;
    max-width: 85%;
    margin: auto auto;
    display: flex;
}

.password-logo-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 50%;
    background-color: var(--main-color);
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    justify-content: center;
    border-radius: 20px 0 0 20px;
    box-shadow: -1px 4px 8px 1px #5555;
}

.login-page img {
    object-fit: contain;
    width: 150px;
    height: 150px;
}

.logo-text {
    margin: 5px;
    font-size: 32px;
    font-weight: bold;
    color: var(--subtle-white-text);
}

.login-form {
    padding: 20px 10px;
    width: 50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    box-shadow: 1px 4px 8px 1px #5555;
    border-radius: 0 20px 20px 0;
}

.login-form h2 {
    font-weight: 600;
    margin: 10px 0 16px 0;
    text-align: center;
    color: var(--heading-color);
}

.login-form .input-row {
    display: flex;
    border-radius: 2px;
    align-items: stretch;
    margin: 10px;
    padding: 0 5px 0 5px;
    box-shadow: 0 0 4px 1px #5555;
    color: #101010;
}

.login-input {
    font-size: 14px;
    border: 2px solid transparent;
    background: transparent;
    padding: 10px;
    outline: var(--heading-color);
    border-radius: 2px;
    margin: 0 10px 10px;
    box-shadow: 0 0 4px 1px #5555;
    color: #101010;
}

.login-form input:focus,
.password-field:focus {
    border: 2px solid var(--heading-color);
    transition: all 0.15s;
}

.login-form .login-btn {
    padding: 10px;
    margin: 10px;
    border: none;
    color: #fff;
    box-shadow: 0 0 4px 1px #5555;
}

.password-field {
    display: flex;
    margin: 0 10px 10px;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    box-shadow: 0 0 4px 1px #5555;
    border: none;
    outline: none;
    background: transparent;
    color: #101010;
}

.phone-input.password-field {
    flex-flow: row-reverse;
    margin: 0 10px 10px;
}

.input-row .phone-input.password-field {
    margin: 0;
    flex-grow: 1;
}

.input-row.no-padding-right {
    padding-right: 0;
}

.phone-input.password-field .login-input {
    margin: 0;
    box-shadow: none;
    flex-grow: 1;
    border: 2px solid transparent;
}

.phone-input.password-field span {
    padding: 10px;
    font-size: 14px;
    border: 2px solid transparent;
}

.phone-input.password-field .login-input:focus {
    border: 2px solid var(--heading-color);
    border-left-width: 0;
}

.phone-input.password-field .login-input:focus + span {
    border: 2px solid var(--heading-color);
    border-right-width: 0;
    font-size: 12.5px;
}

.password-field svg {
    margin: 5px;
    outline: none;
}

.password {
    width: 100%;
    margin: 0;
    border: 2px solid transparent;
    box-shadow: none;
    border-radius: 0;
}

.special .password-icon {
    padding: 10px 0 10px 0;
}

.login-select {
    margin: 0 10px 10px;
    font-weight: 600;
    border: 2px solid transparent;
    background: transparent;
    padding: 10px;
    outline: var(--heading-color);
    border-radius: 2px;
    box-shadow: 0 0 4px 1px #5555;
    color: #101010;
}

.forgot-password {
    text-align: center;
    color: var(--heading-color);
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
}

/** FULL-SCREEN LOADER WHILE LOGGING IN ***/

.full-screen-loader-container {
    position: absolute;
    padding: 20px;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0 0 4px 1px #5555;
    z-index: 10;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.full-screen-loader-container h4 {
    margin: 0;
}


/********* DASHBOARD PAGE ********/

.dashboard {
    padding: 10px 40px;
}

.profile_page {
    display: flex;
    flex-flow: column;
}

.profile_page .profile_img {
    width: fit-content;
    align-self: center;
}

.profile_img img {
    width: 120px;
    height: 120px;
    padding: 4px;
}

.profile_page .profile_details {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile_page .profile_details .other_details {
    margin: 0 32px;
}

.profile_page .profile_details .update .profile_edit_btn {
    padding: 8px;
    border: 1px solid;
    border-radius: 50%;
    display: flex;
}

.profile_page .profile_details .update .profile_edit_btn:hover {
    color: var(--selection-color);
}


/************* POPUP DIALOG **************/
.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(23, 53, 63, 0.7);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    max-width: 400px;
    width: 75%;
    max-height: 85%;
    background: #fcfcfc;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 4px 1px #0243de77;
    overflow: auto;
}

.diag-special {
    max-width: 60%;
    width: 60%;
    max-height: 85%;
}

.editor {
}

.dialog > p {
    color: #0243de;
    padding: 10px;
    font-weight: bold;
    /*margin: 10px 0;*/
}

.button-bar {
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.button-bar button {
    margin-left: 10px;
    background-color: #0243de;
    padding: 5px;
    border-radius: 5px;
    border: 0;
    color: white;
}

.button-bar button:hover {
    background-color: var(--selection-color);
}

.nav-button:disabled {
    background-color: rgba(49, 130, 206, 0.8);
    opacity: 0;
}

.input-row {
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin: 10px;
    padding: 0 5px 0 5px;
    box-shadow: 0 0 4px 1px #0243de77;
    color: #101010;
}

.input-row input,
.input-row select,
.editor input {
    border: none;
    outline: none;
    width: 70%;
    background: transparent;
    color: #101010;
    padding: 10px;
}

.input-row input:disabled {
    font-style: italic;
    color: gray;
}

.input-row select {
    border: 1px solid mediumturquoise;
}

.input-row label {
    width: 30%;
    padding: 10px;
    font-size: 15px;
    color: #0243de;
    border-right: solid 1px mediumturquoise;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: flex-start;
}

.input-row label span {
    font-style: normal;
    font-size: 14px;
    color: #101010;
}

.editor label {
    color: #0243de;
    padding: 5px;
}
